# SQL is very new to me. For this ICE, to be frank, I found out that going through the "Cheat Sheet" on datacamp is actually a very helpful strategy. I decided to share my note herebelow:

SQL is the langugae used to query, analyze, and manipulate data from databases.

Different of SQL dialects
Although SQL languages all share a basic structure, some of the specific commands and styles can differ slightly. Popular dialects include MySQL, SQLite, SQL Server, Oracle SQL, and more. PostgreSQL is a good place to start —since it’s close to standard SQL syntax and is easily adapted to other dialects. 

Throughout this cheat sheet, we’ll use the columns listed in this sample table of airbnb_listings, which presents id 1 ,2, 3 in the rows and city, country, number_of_rooms, and year_listed

# Here are some sample code
1. Get all the columns from a table
SELECT * 
From airbnb_listings;
2. Return the city column from the table
SELECT city
FROM airbnb _listings;
3.	Get the city and  year_listed columns from the table
SELECT city, year_listed FROM airbnb_listings;
4.	Get the listing id, city, ordered by the number _of _rooms in ascending order
SELECT id, city
FROM airbnb_listings
ORDER BY number_of_rooms ASC;
5.	Get  the listing id,   city, ordered by the number _of _rooms in descending order
SELECT id, city
FROM airbnb_listings
ORDER BY number_of_rooms DESC;
6.	Get the first 5 rows from the airbnb_listings table
SELEC T *
FROM airbnb_listings LIMIT 5;
7.	Get a unique list of cities where there are listings
SELECT DISTINCT city
FROM airbnb_lisitings;

# Here are how we are filtering on numeric columns 
1.	Get all the listings where number _of _rooms is more or equal to 3
SELEC T *
FROM airbnb_listings
WHERE number_of_rooms >= 3;
2.	Get all the listings where number _ of _r ooms is more than 3
SELEC T *
FROM airbnb_listings
WHERE number_of_rooms > 3;
3.	Get all the listings where number _of _r oom s is exactly equal to 3
SELEC T *
FROM airbnb_listings WHERE number _of_rooms = 3;
4.	Get all the listings where number _of _rooms is lower or equal to 3
SELEC T *
FROM airbnb_listings
WHERE number _of_rooms <= 3;
5.	Get all the listings where number _of _rooms is lower than 3
SELEC T *
FROM airbnb_listings
WHERE number_of_rooms < 3;
6.	Get all the listings with 3 to 6 rooms
SELEC T *
FROM airbnb_listings
WHERE number _of_rooms BETWEEN 3 AND 6;

# Here are code when filtering on text columns 
7.	Get all the listings that are based in 'Paris'
SELEC T *
FROM airbnb_listings WHERE city= 'Paris;'
8.	Get the  listings based in the I USA' and in 'France'
SELEC T *
FROM airbnb_listings
WHERE country IN ('USA', 'France');
9.	Get all  the  listings where the city starts with I j'  and where the city does not end in 't'

SELEC T *
FROM airbnb_listings
WHERE city LIKE 'j%' AND city NOT LIKE '%t';

# More code on filtering on multiple columns 


10.	Get all the listings in' Paris' where number _of_rooms is bigger than 3
SELEC T *
FROM airbnb_listings
WHERE city= 'Paris' AND number_of_rooms > 3;
11.	Get   all  the  listings in' Paris' OR the ones that were listed after 2012
SELEC T *
FROM airbnb_listings
WHERE city= 'Paris' OR year_listed > 2012;

# Now looking at filtering on missing data
12.	Return the listings where number _of _rooms is missing
SELEC T *
FROM airbnb_listings
WHERE number_of_rooms IS NULL ;
13.	Return the listings where number _of _rooms is not missing
SELEC T *
FROM airbnb_listings
WHERE number_of_rooms IS NOT NULL ;

# Simple Aggregation 

1.	Get the total number of rooms available across all listings
SELECT SUM(number _of_rooms) FROM airbnb_listings;
2.	Get the  average number of rooms per listing across all listings
SELECT AVG(number_o f_room s) FROM airbnb_listings;
3.	Get the  listing with the highest number of rooms across all listings
SELECT MAX(number_o f_room s) FROM airbnb_listings;
4.	Get the listing with the lowest number of rooms across all listings
SELECT MIN(numb er_of_rooms) FROM airbnb_listings;

# Grouping, Filtering, and Sorting 

5.	Get the total number of rooms for each country
SELECT country, SUM(number_o f_room s) FROM airbnb_listings
GROUP BY country;
6.	Get the  average number of rooms for each country
SELECT country, AVG(number_o f_room s) FROM airbnb_listings
GROUP BY country;
7.	Get  the listing with the maximum number of rooms per country
SELECT country, MAX(number _of_rooms) FROM airbnb_listings
GROUP BY country;
8.	Get  the listing with the lowest amount of rooms per country
SELECT country, MIN(numb er_of_rooms) FROM airbnb_listings
GROUP BY country;
9.	For each country, get the average number of rooms per listing, sorted by ascending order
SELECT country, AVG(number _of_rooms) AS avg_rooms FROM airbnb_listings
GROUP BY country
ORDER BY avg_rooms ASC;
10.	For Japan and the USA, get the average number of rooms per listing in each country
SELECT country, MAX(number _of_rooms) FROM airbnb_listings
WHERE country IN ( 'USA' ,'Japan' ) ; GROUP BY country;
11.	Get the number of cities per country, where there are listings
SELECT country, COUNT(city) AS number_of_cities FROM airbnb_listings
GROUP BY country;
12.	Get all the years where there were more than 100 listings per year
SELECT year _listed FROM airbnb_listings GROUP BY year_listed
HAVING COUNT(id) > 100;